/* Definições para a section ecoverde */
#ecoverde {
    display: flex;
    flex-direction: column;
}

/* Altura para as sub-seções de ecoverde */
#ecoverde-intro, #ecoverde-pilares, #ecoverde-recursos, #ecoverde-inclusao, #ecoverde-preservacao {
    height: 100vh;
    align-content: center;
}

/* ============== Seção de introdução ============== */
#ecoverde-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Link da seção de intro de ecoverde */
#ecoverde-intro a {
    display: block;
    width: 10em;
}

/* Imagem dentro do link da ecoverde-intro */
#ecoverde-intro a img {
    width: 100%;
}

/* ============== Seção de pilares de ecoverde ============== */
#ecoverde-pilares {
    display: flex;
    justify-content: space-around;
}

/* Subtítulo da seção pilares */
#ecoverde-pilares h2 {
    align-content: center;
}

/* Seção de botões dos pilares */
.ecoverde-pilares-botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}

/* Botões dos pilares */
.ecoverde-pilares-botoes a {
    border-radius: 10px;
    padding: 15px;
    background-color: #f4f1e8;
    color: #314028;
}

/* ============== Títulos das seções de recursos, inclusão e preservação ============== */
#ecoverde-recursos h2, #ecoverde-inclusao h2, #ecoverde-preservacao h2 {
    text-align: center;
    margin-bottom: 2rem;
}

/* ============== Definições para as divs com classe 'ecoverde-display' ============== */
.ecoverde-display {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

/* Imagens de ecoverde-display */
.ecoverde-display img {
    width: 25rem;
    border-radius: 10px;
}

/* Parágrafo de ecoverde-display */
.ecoverde-display p {
    align-content: center;
}