/* Definições gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Definições do body */
body{
    color: aliceblue;
    background-color: #314028;
}

/* Definições do header */
header{
   background-color:  #526448;
}

/* Definições do footer */
footer{
    background-color: #526448;
}

/* Definições do nav */
nav{
    display: flex;
    margin-left: 50px;
    gap: 50px;
}

/* Definições das tags <a> */
a{
    color: #f4f1e8;
    text-decoration: none;
}

/* Definições do main */
main {
    margin: 1rem 0;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}